fastapi~=0.104.1
uvicorn~=0.24.0.post1
pymssql~=2.2.10
flask-cors
openai~=1.13.3
starlette~=0.27.0
azure-ai-formrecognizer==3.3.2
azure-ai-vision-imageanalysis==1.0.0b2
azure-cognitiveservices-speech==1.36.0
azure-cognitiveservices-vision-computervision==0.9.0
azure-common==1.1.28
azure-core==1.30.1
twilio
